{% include 'base.html' %}

{% load static %}

<div style="margin-top: 5%;">
<a style="border: 1px solid blue;border-radius: 4px/4px; padding-left: 2.5%;padding-right: 2.5%;padding-top: 1%;padding-bottom: 1.5%; color: white;background-color: rgb(6, 6, 71);border: none;  text-decoration-line: none;text-decoration-thickness: initial;text-decoration-style: initial;" href ="{% url 'polls:index' %}">Retourner à la page index de la publication</a>

<p class="quiz" style="margin-top: 10%; font-size: 110%;border: 1px solid rgb(11, 11, 80);padding: 2.5%;overflow-y: hidden;overflow-x: hidden;word-wrap: break-word;background-color: rgba(11, 11, 68, 0.144);border-left: none;border-right: none;">{{ question.question_text }}</p>

    {% if error_message %}
    <p style="border: 1px solid blue;">
        <strong style="color: rgba(233, 22, 22, 0.836);text-decoration: underline;">{{ error_message }}</strong>
    </p>
    {% endif %}

    <form style="border: 1px solid rgb(11, 11, 87);border-radius: 4px/4px; margin-top: 5%;padding: 2.5%;overflow-y: hidden;overflow-x: hidden;word-wrap: break-word;" action ="{% url 'polls:vote' question.id %}" method ="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div title="cliquez sur un de ces choix puis sur envoyer mon choix." class ="form-check">
            <input type ="radio" name ="choice" class ="form-check-input" id ="choice{{ forloop.counter }}"
                value ="{{ choice.id }}" />
            <label id="choix" style="color: rgb(8, 8, 148);font-size: 105%;" for ="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
        {% endfor %}
        <input onclick="return confirm('Êtes-vous sûr de ce choix ?');" id="envoyer"  style="padding:2%; margin-top: 6%;background-color: rgb(11, 11, 59);color: white;border-radius: 4px/4px;border: none;margin-left: 55%;" type ="submit" value ="Envoyer mon choix" class ="btn btn-success btn-lg btn-block mt-4" />
    </form>
</div>
{% include 'footer.html' %}
    <style>
        #choix:hover{
            text-decoration: underline;
            
        }
    </style>